GATEWAY_PORT=3000
AUTH_PORT=3001
TARGET_PORT=3002
SUBMISSION_PORT=3003
SCORE_PORT=3004
REGISTER_PORT=3005
CLOCK_PORT=3006
READER_PORT=3007

API_GATEWAY=http://<url>
AUTH_SERVICE=http://<url>
TARGET_SERVICE=http://<url>
SUBMISSION_SERVICE=http://<url>
SCORE_SERVICE=http://<url>
REGISTER_SERVICE=http://<url>
READER_SERVICE=http://<url>

DB_URL=mongodb://<url>
DB_NAME_AUTH="dbname"
DB_NAME_TARGET="dbname"
DB_NAME_SUBMISSION="dbname"
DB_NAME_SCORE="dbname"
DB_NAME_REGISTER="dbname"
DB_NAME_CLOCK="dbname"
DB_NAME_READER="dbname"

RABBITMQ_URL=http://<url>

IMAGGA_BASE_URL=https://api.imagga.com/v2
IMAGGA_API_KEY="<api-key>"
IMAGGA_API_SECRET="<secret>"
IMAGGA_AUTH="Basic <auth>"

JWT_SECRET="<secret>"
API_KEY="<api-key>"