GATEWAY_PORT=3000
AUTH_PORT=3001
TARGET_PORT=3002
SUBMISSION_PORT=3003

AUTH_SERVICE=http://<url>
TARGET_SERVICE=http://<url>
SUBMISSION_SERVICE=http://<url>

DB_URL=mongodb://<url>
DB_NAME_AUTH="dbname"
DB_NAME_TARGET="dbname"

RABBITMQ_URL=http://<url>

JWT_SECRET="<secret>"
API_KEY="<api-key>"